@using NochDAL.Data
@model List<Domains>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var user = ViewBag.User;
}
<nav class="navbar navbar-default navbar-fixed-top hidden-xs hidden-sm">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="~/Content/img/logo_white_300px_124px.png" style="height:20px;" /></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><input type="button" class="btn navbar-btn" data-toggle="modal" data-target="#startCode" value="Account" />&nbsp;</li>
				<li><input type="button" class="btn btn-danger navbar-btn" id="signoutBtn" onclick="location.href='@Url.Action("SignOut", "Chat")'" value="Sign Out" />&nbsp;</li>
			</ul>
		</div>
	</div><!-- /.container-fluid -->
</nav>
<div id="messageArea" class="panel-left">
	<ul id="discussion" data-bind="foreach: messages">
		<li>
			<input class="msgid" type="hidden" data-bind="value: $data.id" />
			<span class="msg-sender" data-bind="text: $data.name"></span>:&nbsp;<span class="msg-body" data-bind="text: $data.message"></span>
		</li>
	</ul>
</div>
<div id="sideBar">
	<div class="col-md-12">
		<h2>Domains</h2>
	</div>
	<div class="col-md-12">
		<div class="input-group" style="padding:10px;">
			<input type="text" class="form-control" id="newDomainName" placeholder="New Domain" aria-describedby="basic-addon2">
			<span class="input-group-addon" onclick="makeDomain(document.getElementById('newDomainName').value)">Add Domain</span>
		</div>
	</div>
	<div class="col-md-12 no-padding">
		@{ Random r = new Random(); }
		<ul class="list-group" data-bind="foreach: domains">
			<li class="list-group-item">
				<span class="badge"></span>
				<span class="list-group-text" data-bind="text: $data.Name, click: $root.channelCollapse, attr: {'data-domain-name': $data.Name, 'data-domain-idx': $index() }"></span>
				<div data-bind="attr: {'id': ($data.Name + '_domain') }" class="collapse">
					<ul class="item-list" data-bind="foreach: $data.Channels">
						<li class="item"><a data-bind="text: $data.Name, click: $root.getMessages"></a></li>
					</ul>
					<div class="input-group" style="margin:10px 0">
						<input type="text" class="form-control" placeholder="New Channel" data-bind="value: $root.newChannelName">
						<span class="input-group-addon"><i data-bind="click: $root.makeChannel, attr: {'data-domainid': $data.DomainID }" class="fa fa-plus" aria-hidden="true"></i></span>
					</div>

				</div>
			</li>
		</ul>
	</div>
</div>

<div id="inputArea">
	<div id="messageContainer">
		<input class="input-lg form-control" type="text" id="message" />
	</div>
	<div id="sendBtnContainer">
		<button type="button" class="send-btn" id="sendmessage"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
	</div>
</div>
<div class="dropdown" id="mobileChatNav">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	<li><a href="#"><strong>Domains</strong></a></li>
	<li class="divider" role="separator"></li>
		<!-- ko foreach: domains -->
		<li data-bind="click: $root.channelModal">
			<a href="#">
				<span class="badge">@{ r.Next(50); }</span>
				<span data-bind="text: $data.Name, attr: {'data-domain-idx': $index }"></span>
			</a>
		</li>
		<!-- /ko -->
	</ul>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="channelModal">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content" data-bind="with: selectedDomain">
			<div class="modal-header">
				Choose A Channel
			</div>
			<div class="modal-body">
				<div class="col-md-12">
					<span class="mini-heading">CURRENT DOMAIN</span>
					<h4 data-bind="text: $data.Name"></h4>
					<ul class="list-group" data-bind="foreach: $data.Channels">
						<li class="list-group-item" data-bind="text: $data.Name, click: $root.getMessages"></li>
					</ul>
					<div class="input-group" style="margin:10px 0">
						<input type="text" class="form-control" placeholder="New Channel" data-bind="value: $root.newChannelName">
						<span class="input-group-addon"><i data-bind="click: $root.makeChannel, attr: {'data-domainid': $data.DomainID }" class="fa fa-plus" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="displayname" />
<script src="~/scripts/knockout-3.4.0.js"></script>
<script src="~/scripts/noch-app.js"></script>
<script type="text/javascript">
	VARS.init({ username: '@ViewBag.Username', userid: @ViewBag.UserID, channelid: @Session["currchannel"] });
</script>
<script src="https://rawgit.com/RickStrahl/jquery-resizable/master/src/jquery-resizable.js"></script>
<script>
	$(".panel-left").resizable({
		handleSelector: ".splitter",
		resizeHeight: false
	});
	$(".panel-top").resizable({
		handleSelector: ".splitter-horizontal",
		resizeWidth: false
	});

</script>

