
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<style>
		body {
			background-color: #ffeb3b;
		}
	</style>
	<div class="container" style="padding-top:15%;">
		
		@using (Html.BeginForm("MakeDomain", "New"))
		{
			<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center" style="margin-bottom:2em;">
				<h1 class="huge-heading">Hey, you don't have any domains. Why not make one</h1>
			</div>
			<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 no-padding">
				<div class="huge-input-group">
					<input name="DomainName" type="text" placeholder="Your domain name..." class="form-control huge-input" />
					<span class="huge-input-addon"><button type="submit" name="mkDomain" class="btn huge-btn noch-success">Create</button></span>
				</div>
			</div>
			<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center" style="margin-bottom:2em;">
				<h1 class="huge-heading">Or you can join one...</h1>
			</div>
			<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 no-padding">
				<div class="huge-input-group">
					<input name="JoinDomain" type="text" placeholder="Existing domain name..." class="form-control huge-input" />
					<span class="huge-input-addon"><button type="submit" name="mkDomain" class="btn huge-btn noch-blue">Join</button></span>
				</div>
			</div>
		}
	</div>
</body>
</html>
