#mainWrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

#sideBar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #ffeb3b;
  -webkit-box-shadow: 0px 0px 8px 0px #bba700;
  -moz-box-shadow: 0px 0px 8px 0px #bba700;
  box-shadow: 0px 0px 8px 0px #bba700; }

#messageArea {
  position: absolute;
  left: 250px;
  right: 0;
  bottom: 56px;
  top: 0;
  overflow-y: scroll;
  background-color: #e9e9e9; }
  #messageArea ul#discussion {
    padding: 0;
    position: absolute;
    bottom: 10px;
    left: 20px; }
    #messageArea ul#discussion li {
      list-style-type: none; }
      #messageArea ul#discussion li .msg-sender {
        font-weight: bold; }

#inputArea {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 250px;
  height: 56px;
  background-color: #ffeb3b;
  -webkit-box-shadow: 8px 0px 8px 0px #bba700;
  -moz-box-shadow: 8px 0px 8px 0px #bba700;
  box-shadow: 8px 0px 8px 0px #bba700; }
  #inputArea #messageContainer {
    position: absolute;
    left: 0px;
    right: 100px;
    top: 5px;
    display: inline; }
  #inputArea #sendBtnContainer {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 90px;
    bottom: 5px; }
    #inputArea #sendBtnContainer .send-btn {
      width: 100%;
      height: 100%;
      background-color: #ff5252;
      border: none;
      color: #ffffff;
      font-size: 1.2em;
      transition: background-color 150ms ease-out; }
      #inputArea #sendBtnContainer .send-btn:hover {
        background-color: #ff3939; }
      #inputArea #sendBtnContainer .send-btn:active {
        outline: none;
        background-color: #ff1f1f; }
      #inputArea #sendBtnContainer .send-btn:focus {
        outline: none; }

.splash-heading {
  font-family: "Libre Baskerville", georgia, serif;
  font-weight: 600;
  font-size: 4em;
  color: #ffffff; }

.splash-label {
  color: #ffffff; }

.form-control, .btn {
  outline: none;
  border-color: #ffffff; }
  .form-control:active, .btn:active {
    outline: none;
    border-color: inherit; }
  .form-control:focus, .btn:focus {
    outline: none;
    border-color: inherit; }

.form-control.splash-input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  color: #000000; }
  .form-control.splash-input:active {
    outline: none; }
  .form-control.splash-input:focus {
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: none; }

.validation-message {
  background-color: #ff5252;
  color: #ffffff;
  padding: 0.3em;
  display: block;
  margin: 10px 0; }
  .validation-message:empty {
    display: none; }

.form-control.input-validation-error {
  border: 1px solid #ff5252; }

/* Extra-Small Screens (phones) */
/* Small Screens (tablets) */
@media (max-width: 991px) {
  #sideBar {
    display: none; }

  #messageArea {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 56px;
    top: 0; }

  #inputArea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 56px; }
    #inputArea #messageContainer {
      position: absolute;
      left: 5px;
      right: 100px;
      top: 5px;
      display: inline; }

  #mobileChatNav {
    display: inline;
    position: absolute;
    top: 10px;
    left: 10px; }
    #mobileChatNav button, #mobileChatNav ul {
      background-color: #ff5252;
      color: #ffffff; }
      #mobileChatNav button li a, #mobileChatNav button li, #mobileChatNav ul li a, #mobileChatNav ul li {
        color: #ffffff; }
        #mobileChatNav button li a:active, #mobileChatNav button li a:hover, #mobileChatNav button li:active, #mobileChatNav button li:hover, #mobileChatNav ul li a:active, #mobileChatNav ul li a:hover, #mobileChatNav ul li:active, #mobileChatNav ul li:hover {
          background-color: #ffeb3b;
          color: #ff5252; } }
/* Medium Screens (Laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
  #mobileChatNav {
    display: none; } }
/* Large Screens */
@media (min-width: 1200px) {
  #mobileChatNav {
    display: none; } }

/*# sourceMappingURL=noch.css.map */
