<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/noch.css" rel="stylesheet" />
    <!-- JS -->
    <script src="@Url.Content("~/scripts/jquery-3.1.0.min.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
</head>
<body>
    <div>   
        @RenderBody()
    </div>
</body>
</html>